In [1]:
import pandas as pd

In [2]:
df = pd.read_json('train.json')

In [3]:
df

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

### Reading JSON files from an API

In [14]:
df2 = pd.read_json('https://jsonplaceholder.typicode.com/todos/')
df2 = df2.set_index('id')

In [15]:
df2

     userId                                              title  completed
id
1         1                                 delectus aut autem      False
2         1                 quis ut nam facilis et officia qui      False
3         1                                fugiat veniam minus      False
4         1                                   et porro tempora       True
5         1  laboriosam mollitia et enim quasi adipisci qui...      False
..      ...                                                ...        ...
196      10                consequuntur aut ut fugit similique       True
197      10                  dignissimos quo nobis earum saepe       True
198      10                       quis eius est sint explicabo       True
199      10                       numquam repellendus a magnam       True
200      10                       ipsam aperiam voluptates qui      False

[200 rows x 3 columns]