In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("./train.csv")

In [3]:
df.head()

   Unnamed: 0 GarageQual FireplaceQa  SalePrice GarageQualNew
0           0         TA         NaN     208500            TA
1           1         TA          TA     181500            TA
2           2         TA          TA     223500            TA
3           3         TA          Gd     140000            TA
4           4         TA          TA     250000            TA

In [6]:
df.isnull().sum()

Unnamed: 0         0
GarageQual         0
FireplaceQa      690
SalePrice          0
GarageQualNew      0
dtype: int64

We have missing values in `FireplaceQu`, we will fill a new category named as missing in is manually as well as using simple imputer

In [7]:
df['FireplaceQaNew'] = df['FireplaceQa'].fillna("Missing")

In [8]:
df.head()

   Unnamed: 0 GarageQual FireplaceQa  SalePrice GarageQualNew FireplaceQaNew
0           0         TA         NaN     208500            TA        Missing
1           1         TA          TA     181500            TA             TA
2           2         TA          TA     223500            TA             TA
3           3         TA          Gd     140000            TA             Gd
4           4         TA          TA     250000            TA             TA

## Now filling using simple imputer

In [9]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [10]:
imputer = SimpleImputer(strategy='constant', fill_value='missing')

In [13]:
trf = ColumnTransformer(
    [
        ('t1', imputer, ['FireplaceQa'])
    ],
    remainder='passthrough'
)

In [23]:
dfNew = trf.fit_transform(df)

In [24]:
dfNew = pd.DataFrame(dfNew, columns=['FireplaceQa', 'index', 'GarageQual', 		'SalePrice',	'GarageQualNew', 	'FireplaceQaNew'])

In [25]:
dfNew.head()

  FireplaceQa index GarageQual SalePrice GarageQualNew FireplaceQaNew
0     missing     0         TA    208500            TA        Missing
1          TA     1         TA    181500            TA             TA
2          TA     2         TA    223500            TA             TA
3          Gd     3         TA    140000            TA             Gd
4          TA     4         TA    250000            TA             TA

We can see that the missing values in the column `fireplacequ` is replaced with a new column named missing