In [27]:
import pandas as pd
import numpy as np

In [28]:
df = pd.read_csv("./train.csv")

In [29]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [30]:
x = df.drop(columns=['PassengerId', 'Survived', 'Name', 'Ticket', 'Cabin', 'Embarked'], axis=1)

In [31]:
y = df['Survived']

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
xTrain, xTest, yTrain, yTest = train_test_split(x, y, train_size=0.9)

In [34]:
xTrain.columns

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [35]:
xTrain

     Pclass     Sex    Age  SibSp  Parch      Fare
24        3  female   8.00      3      1   21.0750
75        3    male  25.00      0      0    7.6500
803       3    male   0.42      0      1    8.5167
241       3  female    NaN      1      0   15.5000
86        3    male  16.00      1      3   34.3750
..      ...     ...    ...    ...    ...       ...
859       3    male    NaN      0      0    7.2292
734       2    male  23.00      0      0   13.0000
125       3    male  12.00      1      0   11.2417
377       1    male  27.00      0      2  211.5000
858       3  female  24.00      0      3   19.2583

[801 rows x 6 columns]

In [36]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(drop='first')
from sklearn.compose import ColumnTransformer
transformer = ColumnTransformer(
    [
    ('t', encoder, ['Sex'])
    ],
    remainder='passthrough'
)

In [56]:
xTrain['Age']=xTrain['Age'].fillna(xTrain['Age'].mean())
xTest['Age']=xTest['Age'].fillna(xTest['Age'].mean())

In [57]:
xTrain.isnull().sum()

Pclass    0
Sex       0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64

In [58]:
xTrainTransformed = transformer.fit_transform(xTrain)
xTestTransformed = transformer.transform(xTest)

In [60]:
from sklearn.ensemble import RandomForestClassifier

In [61]:
clf = RandomForestClassifier()

In [62]:
clf.fit(xTrainTransformed, yTrain)

RandomForestClassifier()

In [63]:
yPred = clf.predict(xTestTransformed)

In [64]:
from sklearn.metrics import accuracy_score

In [65]:
print(accuracy_score(yTest, yPred))

0.7888888888888889